|// Entire Configuration for the #{packageName} App
|
include ../../../includes/info.pug

|var #{packageName} = require('#{package.name}');
|
|var baseConfig = require('./base');

|module.exports = {
|	config: Object.assign(baseConfig, require(`./envs/${process.env.NODE_ENV || 'development'}`)),
|	routes: require('./routes')
|};