|// Configuration for Development Environment
|
include ../../../includes/info.pug

|var #{package.name} = require('#{package.name}');
|
|module.exports = #{package.name}.configure(( config ) => {
|
|});