|// Kiq App
|
include ../../includes/info.pug

|const #{packageName} = require('#{package.name}');
|const config = require('./config');
|
|var app = new #{packageName}.App(config);
|
|module.exports = app;
