|// Base Configuration Overriden by Environment Config
|
include ../../../includes/info.pug

|var #{package.name} = require('#{package.name}');
|
|module.exports = {
|	configure: ( config ) => {
|
|	}
|};