|// Kiq Server
|
include ../../includes/info.pug

|const #{packageName} = require('#{package.name}');
|const app = require('./app');
|
|
|var server = #{packageName}.start(app, process.argv[2]);
|
|server.on('listening', () => {
|  var addr = server.address();
|  var bind = typeof addr === 'string'
|    ? 'pipe ' + addr
|    : 'port ' + addr.port;
|  console.log('Listening on ' + bind);
|});